CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
build-debug/
connection.properties
abNinjam.log
*.vcxproj
*.vcxproj.filters
*.sln
.vs/
zenity.exe
